
/*Fonts*/
.Playfair{
    font-family: 'Playfair Display', serif;
}
.Lato{
    font-family: 'Lato', sans-serif;
}
.text-block-banner{
  width:444px;
  margin-top:27px;
  margin-left:3px;
  margin-right:3px;
}
header {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .35);
    position: absolute;
    z-index: 3;
}
.navbar {
    width: inherit;
    height: 100px;
}
.left, .right {
    display: flex;
    width: 43%;
}
.left {
    justify-content: flex-end;
}
.right {
    justify-content: flex-start;
}

.navbar-item {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    color: #fff;
    margin-right: 20px;
}

.left .navbar-item:nth-child(2) {
    margin-right: 0;
}

.navbar-item.active, .navbar-item:hover {
    color: #f5d76e;
    text-decoration: none;
}
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin-top: 7px;
}

.logo-img {
    width: 154px;
    height: 127px;
}
/* Ivan Balashov style*/

.banner.banner-post{
    height: 500px;
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner.banner-post a{

}

.banner>div{
  left:24px;
  top:224px;
}
.banner-h1{

  color:#f5d76e;
  font-family: 'Playfair Display', serif;
  font-size:16px;
  line-height:14px;
}
  .banner-p{
    color:#ffffff;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size:12px;
  }
  .banner.button-banner{
    width:185px;
    height:54px;
    margin-top:8px;
    font-size:12px;
  }
  @media screen and (min-width:1200px){
  .banner>div{
    left:166px;
    top:301px;
  }
  .banner-h1{
    color:#f5d76e;
    font-family: 'Playfair Display', serif;
    font-size:48px;
    line-height:28px;
  }
    .banner-p{
      color:#ffffff;
      font-family: 'Lato', sans-serif;
      font-size:24px;
    }
    .button-banner{
      width:185px;
      height:54px;
      margin-top:38px;
    }
  }
  @media screen and (min-width:992px){
  .banner>div{
    left:166px;
    top:264px;
  }
  .banner-h1{
    color:#f5d76e;
    font-family: 'Playfair Display', serif;
    font-size:48px;
    line-height:28px;
  }
    .banner-p{
      color:#ffffff;
      font-family: 'Lato', sans-serif;
      font-size:36px;
    }
    .button-banner{
      width:185px;
      height:54px;
      margin-top:12px;
    }
  }
  @media screen and (min-width:768px){
  .banner>div{
    left:124px;
    top:250px;
  }
  .banner-h1{
    color:#f5d76e;
    font-family: 'Playfair Display', serif;
    font-size:36px;
    line-height:28px;
  }
    .banner-p{
      color:#ffffff;
      font-family: 'Lato', sans-serif;
      font-size:12px;
    }
    .banner.button-banner{
      width:185px;
      height:54px;
      margin-top:12px;

    }
  }
  @media screen and (min-width:576px){
  .banner>div{
    left:124px;
    top:224px;
  }
  .banner-h1{
    color:#f5d76e;
    font-family: 'Playfair Display', serif;
    font-size:36px;
    line-height:28px;
  }
    .banner-p{
      color:#ffffff;
      font-family: 'Lato', sans-serif;
      font-size:12px;
    }
    .banner.button-banner{
      width:185px;
      height:54px;
      margin-top:12px;

    }
  }
.location-label {
    align-self: center;
    left: 0;
    top: 50%;
    width: 100%;
    height: 24px;
    text-align: center;
    font-family: playfairdisplay;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 60px;
}
.hours-and-map{
    height: 425px;
    margin-bottom: 15px;
}

.hours-and-map>.row{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
.houston-city {
    width: 100%;
    height: 425px;
    object-fit: cover;
}
.hours-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 458px;
    width:40%;
    height: 425px;
    background-color: #f5d76e;
    padding-left: 50px;
    padding-top: 35px;
    padding-right: 10px;
}
.hours-bg span {
  font-family: 'Playfair Display';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 25px;
  display: inline-block;
}
.hours-bg p b {
    width: 99px;
    display: inline-block;
}
.hours-bg p {
    margin-bottom: 6px;
    font-family: 'Lato';
}
#hours-and-map .col-4 {
    padding-right: 0px;
}
#hours-and-map .col-8 {
    padding-left: 0px;
}
/*text_under_banner*/
.under_banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 98px;
    margin-bottom: 200px;
}
.under_banner_header{
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    text-align: left;
    color: #2f2f2f;
    margin-bottom: 32px;
    font-weight: 700;
    text-align: center;
    padding: 0px 10px;
}
.under_banner_header>b{
    font-weight: 900;
}
.under_banner>p{
    max-width: 775px;
    padding: 0px 10px;
    width: auto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}
/* And style*/
.cover {
    margin:auto;
    width:100%;
    max-width:1920px;
}
.icon-coffee {
    width:39px;
    height:39px;
    margin:80px auto;
}
.button-see-full-menu-block {
    width:234px;
    height:60px;
    color: #000000;
    background: rgba(0,0,0,0);
    border: solid 2px #000000;
    font-weight: 900;
    text-transform:uppercase;
    text-align:center;
}
.button-see-full-menu-block-min {
    width:234px;
    margin:auto;
}
.menu-text {
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    text-transform:uppercase;
    text-align:center;
    margin-top:60px;
    margin-bottom:60px;
}
.text-coffee {
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    text-transform:uppercase;
    text-align:center;
    margin-top:60px;
}
.text-block {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #28211f;
}
.menu-top-coffe {
    background-image: url(../src/menu/cup-coffee.png);
    background-size:cover;
}
.menu-top-tea {
    background-image: url(../src/menu/cup-tea.png);
    background-size:cover;
}
.menu-top-dessert {
    background-image: url(../src/menu/desert.png);
    background-size:cover;
}
@media(min-width:1000px){
.menu-blocks {
    width:32%;
    height:800px;
    float:left;
    margin-left:1%;
}
.menu-top {
    height:294px;
    width:100%;
    text-align:center;
    font-family: PlayfairDisplay;
    font-size: 40px;
    font-weight: bold;
    text-transform:uppercase;
    padding-top:220px;
}
.menu-bottom-left {
    padding-top:45px;
    float:left;
    margin-left:14%;  
    font-family: Lato;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    height:206px;
}
.menu-bottom-right {
    margin-top:45px;
    float:right;
    margin-right:14%;  
    font-family: Lato;
    font-size: 16px;
    line-height: 1.75;
    height:206px;
}
}
@media(max-width:999px){
.menu-blocks {
    width:98%;
    height:500px;
    margin-left:1%;
    margin-bottom:250px;
}
.menu-top {
    height:294px;
    width:100%;
    text-align:center;
    font-family: PlayfairDisplay;
    font-size: 40px;
    font-weight: bold;
    text-transform:uppercase;
    padding-top:220px;
}
.menu-bottom-left {
    margin-top:45px;
    float:left;
    margin-left:13%;  
    font-family: Lato;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
}
.testimonials-all {
    height: 850px;
}
.menu-bottom-right {
    margin-top:45px;
    float:right;
    margin-right:13%;  
    font-family: Lato;
    font-size: 16px;
    line-height: 1.75;
}


footer {
    padding: 50px 0;
    width: 100%;
    margin: 0 auto;
    background-color: #39312f;
    text-align: center;
}
.socials {
    margin-bottom: 20px;
}
.socials-img {
    margin-left: 30px;
}

.adress {
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.background{
	width:
	height
	background-image: url('../var/www/html/be-latte/src/realisticshots-coffee-photo.png');
}
