
/*Fonts*/
.Playfair{
    font-family: 'Playfair Display', serif;
}
.Lato{
    font-family: 'Lato', sans-serif;
}
.text-block-banner{
  width:444px;
  margin-top:27px;
  margin-left:3px;
  margin-right:3px;
}

/*Header Lennnyn*/
header {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .35);
    position: absolute;
    z-index: 3;
}
.navbar {
    width: inherit;
    height: 100px;
}

.left, .right {
    display: flex;
    width: 50%;
}
.left {
    justify-content: flex-end;
    padding-right: 50px;
}
.navbar .right {
    justify-content: flex-start;
    padding-left: 65px;
}

.navbar-item {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    color: #fff;
    margin-right: 20px;
}

.nav-item {
    text-align: center;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar .navbar-toggler {
    background: #f2d46e;
    position: absolute;
    right: 15px;
}

.left .navbar-item:nth-child(2) {
    margin-right: 0;
}

.navbar-item.active, .navbar-item:hover {
    color: #f5d76e;
    text-decoration: none;
}
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin-top: 7px;
}

.logo-img {
    width: 154px;
    height: 127px;
}

/* Ivan Balashov-begin */
.navbar-toggler:focus {
    outline: none;
}
@media (max-width: 575.98px) {
  .banner.banner-post{
      height: 100vh;
      background-image: url(../img/banner-mobile.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .banner>div{
    left:12%;
    right:12%;
    top:35%;
  }
  .banner-h1{
    color:#f5d76e;
    font-family: 'Playfair Display', serif;
    font-size:28px;
    line-height:35px;
    text-align:center;
  }
  .banner-p{
      color:#ffffff;
      display: block;
      font-family: 'Lato', sans-serif;
      font-size:18px;
      text-align: center;
      margin-top:25%;
      margin-bottom: 25%;
  }
  .button-banner{
      width:100%;
      height:84px;
      margin-top:8px;
      font-size:12px;
  }
  .button-banner p{
      text-align: center;
      margin-top:14px;
      font-size:22px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner.banner-post{
      height: 100vh;
      background-image: url(../img/banner-mobile.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .banner>div{
    left:12%;
    right:12%;
    top:25%;
  }
  .banner-h1{
    margin-top:10px;
    color:#f5d76e;
    font-family: 'Playfair Display', serif;
    font-size:46px;
    line-height:35px;
    text-align:center;
  }
  .banner-p{
      margin-top:150px;
      margin-bottom:150px;
      color:#ffffff;
      display: block;
      font-family: 'Lato', sans-serif;
      font-size:20px;
      text-align: center;
  }
  .button-banner{
      width:100%;
      height:64px;
      margin-top:8px;
  }
  .button-banner p{
      text-align: center;
      margin-top:6px;
      font-size:24px;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .banner.banner-post{
      height: 500px;
      background-image: url(../img/banner.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .banner>div{
    left:8%;
    right:12%;
    top:35%;
    width:40%;
  }
  .banner-h1{
    color:#f5d76e;
    font-family: 'Playfair Display', serif;
    font-size:28px;
    line-height:35px;
  }
  .banner-p{
      color:#ffffff;
      display: block;
      font-family: 'Lato', sans-serif;
      font-size:14px;
  }
  .button-banner{
      width:154px;
      height:64px;
      margin-top:8px;
      font-size:12px;
  }
  .button-banner p{
      text-align: center;
      margin-top:14px;
      font-size:14px;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner.banner-post{
      height: 500px;
      background-image: url(../img/banner.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .banner>div{
    left:10%;
    right:12%;
    top:35%;
    width:45%;
  }
  .banner-h1{
    color:#f5d76e;
    font-family: 'Playfair Display', serif;
    font-size:32px;
    line-height:35px;
  }
  .banner-p{
      color:#ffffff;
      display: block;
      font-family: 'Lato', sans-serif;
      font-size:18px;
  }
  .button-banner{
      width:154px;
      height:64px;
      margin-top:8px;
      font-size:12px;
  }
  .button-banner p{
      text-align: center;
      margin-top:14px;
      font-size:16px;
  }
}


@media (min-width: 1200px) {
  .banner.banner-post{
      height: 500px;
      background-image: url(../img/banner.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .banner>div{
    left:12%;
    right:12%;
    top:35%;
    width:45%;
  }
  .banner-h1{
    color:#f5d76e;
    font-family: 'Playfair Display', serif;
    font-size:32px;
    line-height:35px;
  }
  .banner-p{
      color:#ffffff;
      display: block;
      font-family: 'Lato', sans-serif;
      font-size:20px;
  }
  .button-banner{
      width:154px;
      height:64px;
      margin-top:8px;
      font-size:12px;
  }
  .button-banner p{
      text-align: center;
      margin-top:14px;
      font-size:16px;
  }
}
/*Ivan Balashov-end*/
#container-location {
  /*height: 100%;*/
}
.location-label {
    align-self: center;
    left: 0;
    top: 50%;
    width: 100%;
    height: 24px;
    text-align: center;
    font-family: playfairdisplay;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 60px;
}
@media(min-resolution: 144dpi)
   and (min-width: 2048px){
    .location-label {
      font-size: 64px;
    }
}
.hours-and-map{
    height: auto;
    margin-bottom: 15px;
}
@media(min-resolution: 144dpi)
   and (min-width: 2048px){
    .hours-and-map {
    width: 100%;
    height: auto;
    }
}
@media(min-width:576px){
    #hours-bg-container {
    flex-wrap: wrap;
    }
}
@media(min-width:768px){
    #hours-bg-container {
    flex-wrap: wrap;
    }
}
@media(min-width:996px){
    #hours-bg-container {
    flex-wrap: nowrap;
    }
}
.hours-and-map>.row{
    margin: auto;
    position: relative;
    height: 100%;
}
.houston-city {
  position: relative;
  width: 100%;
  min-height: 425px;
  height: 425px;
  object-fit: cover;
}
@media(min-width:768px){
    .houston-city {
    width: 100%;
  height: 425px;
    }
}
@media(min-resolution: 144dpi)
   and (min-width: 2048px){
    .houston-city {
    margin: 0;
    width: 30%;
    height: 425px;
    transform: scale(2);
    transform-origin: top right;
    /*height: auto;*/
    }
}
.hours-bg {
    left: 0px;
    top: 0px;
    background-color: #f5d76e;
    padding-left: 50px;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 425px;
}
@media(min-width:576px){
    .hours-bg {
    width: 100%;
    }
}
@media(min-width:768px){
    .hours-bg {
    width:100%;
    }
}
@media(min-width:996px){
    .hours-bg {
    width:40%;
    }
}
@media(min-resolution: 144dpi)
   and (min-width: 2048px){
    .hours-bg{
    height: 850px;
    margin-left: 0;
    margin-right: auto;
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 40px;
    width: 40%;
    }
}
.hours-bg span {
  font-family: 'Playfair Display';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 25px;
  display: inline-block;
}
@media(min-resolution: 144dpi)
   and (min-width: 2048px){
  .hours-bg span
  {
    font-size: 60px;
  }
}
.hours-bg p b {
    width: 99px;
    display: inline-block;
}
@media(min-resolution: 144dpi)
   and (min-width: 2048px){
  .hours-bg p b
  {
    width: 198px;
    font-size: 40px;
  }
}
.hours-bg p {
    margin-bottom: 6px;
    font-family: 'Lato';
}
@media(min-resolution: 144dpi)
   and (min-width: 2048px){
  .hours-bg p
  {
    font-size: 40px;
  }
}
/*text_under_banner BOMBO454*/
.under_banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.under_banner_header{
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    text-align: left;
    color: #2f2f2f;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    padding: 0px 10px;
}
.under_banner_header>b{
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: -1px;
    font-weight: 900;
}
.under_banner>p{
    max-width: 775px;
    padding: 0px 10px;
    width: auto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}
@media (min-width: 576px) {
    .under_banner{
        margin-top: 40px;
    }
}

@media (min-width: 768px) {
    .under_banner{
        margin-top: 80px;
    }
    .under_banner_header{
        margin-bottom: 32px;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .under_banner{
        margin-top: 98px;
}
}
/*--text_under_banner BOMBO454--*/

.testimonials {
    text-align: center;
    font-family: playfairdisplay;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding: 60px;
}
.bg {
    max-width: 1270px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 425px;
    background-position:80% 20%;
    background-image: url('../src/realisticshots-coffee-photo.png');
}
.viewport {
    width: 470px;
    height: 425px;
    position: relative;
    float: right;
    overflow: hidden;
    background-color: #39312f;
}
@media screen and (max-width: 768px) {
     #viewport-bg-container { width: 100%; }
   }

.slidewrapper {
    list-style-type: none;
    position: relative;
    height: 425px;
    margin: 0;
    padding: 0;
}
.slide_content {
    position: relative;
}
.slide{
    margin-left: auto;
    margin-right: auto;
    height: 425px;
    list-style: none;

}
.Chris-Parker {
    font-family: PlayfairDisplay;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #f5d76e;
    padding: 15px;
}
.Brendan-Lim {
    font-family: PlayfairDisplay;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #f5d76e;
    padding: 15px;
}
.Bruno-Bergher {
    font-family: PlayfairDisplay;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #f5d76e;
    padding: 15px;
}
.text {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 5px;
}
.photo-placeholder{
    position: absolute;
    top: 98px;
    left: 187px;
}
.layer {
    width: 111px;
    height: 50px;
    font-family: Playfair Display;
    font-size: 90px;
    font-weight: bold;
    line-height: 0.23;
    text-align: left;
    color: rgba(255, 255, 255, 0.03);
    position: absolute;
    display: inline;
    top: 32px;
    left: 30px;
}
.quotation-mark {
    width: 77px;
    font-family: Playfair Display;
    font-size: 200px;
    font-weight: bold;
    line-height: 0.11;
    color: rgba(255, 255, 255, 0.03);
    position: absolute;
    right: 32px;
    bottom: 12px;
}
ol.carousel-indicators {
   position: absolute;
   bottom: 64px;
   margin: 0;
   left: 0;
   right: 0;
   width: auto;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
   width: 11px;
  height: 11px;
  background-color: #ececec;
   margin: 3px;
   border-radius: 50%;
   border: 0;
   background: transparent;
}
ol.carousel-indicators li {
  width: 9px;
  height: 9px;
  background-color: #ececec;
}
ol.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border: 1px solid #ececec;
  background-color: #39312f;
}
div.carousel-inner {
    text-align: center;
}
.bd-example img {

    margin-top: 98px;
}

/* And style*/
.cover {
    margin:auto;
    width:100%;
    max-width:1920px;
}
.icon-coffee {
    width:39px;
    height:39px;
    margin:30px auto;
}
@media (min-width: 576px) {
    .icon-coffee {
        margin:40px auto;
    }
}

@media (min-width: 768px) {
    .icon-coffee {
        margin:50px auto;
    }
}

@media (min-width: 992px) {
    .icon-coffee {
        margin:80px auto;
    }
}

@media (min-width: 1200px) {
}
.button-see-full-menu-block {
    width:234px;
    height:60px;
    color: #000000;
    background: rgba(0,0,0,0);
    border: solid 2px #000000;
    font-weight: 900;
    text-transform:uppercase;
    text-align:center;
}
.button-see-full-menu-block-min {
    width:234px;
    margin:auto;
}
.menu-text {
    font-family: Playfair Display;
    font-size: 32px;
    font-weight: bold;
    text-transform:uppercase;
    text-align:center;
    margin-top:60px;
    margin-bottom:60px;
}
.text-coffee {
    font-family: Playfair Display;
    font-size: 32px;
    font-weight: bold;
    text-transform:uppercase;
    text-align:center;
    margin-top:60px;
}
.text-block {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #28211f;
}
.menu-top-coffe {
    background-image: url(../src/menu/cup-coffee.png);
    background-size:cover;
    background-position: center;
}
.menu-top-tea {
    background-image: url(../src/menu/cup-tea.png);
    background-size:cover;
    background-position: center;
}
.menu-top-dessert {
    background-image: url(../src/menu/desert.png);
    background-size:cover;
    background-position: center;
}
@media(min-width:1000px){
.menu-blocks {
    width:32%;
    height:550px;
    float:left;
    margin-left:1%;
}
.menu-top {
    height:294px;
    width:100%;
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: bold;
    text-transform:uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu-bottom-left {
    padding-top:45px;
    float:left;
    margin-left:14%;
    font-family: Lato;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    height:206px;
}
.menu-bottom-right {
    margin-top:45px;
    float:right;
    margin-right:14%;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.75;
    height:206px;
}
}
@media(max-width:999px){
.menu-blocks {
    width:98%;
    height:500px;
    margin-left:1%;
    margin-bottom:0px;
}
.menu-top {
    height:294px;
    width:100%;
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: bold;
    text-transform:uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu-bottom-left {
    margin-top:45px;
    float:left;
    margin-left:13%;
    font-family: Lato;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
}
.testimonials-all {
    height: 850px;
}
.menu-bottom-right {
    margin-top:45px;
    float:right;
    margin-right:13%;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.75;
}
}

/*Footer Lennnyn*/
footer {
    padding: 50px 0;
    width: 100%;
    margin: 0 auto;
    background-color: #39312f;
    text-align: center;
}
.socials {
    margin-bottom: 20px;
}
.socials-img {
    margin-left: 30px;
}
.socials-img:hover {
    text-decoration: none;
}

.socials-img svg:hover > path {
    fill: #f2d46e;
} 
.adress {
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.background {
    width:
    height
    background-image: url('../var/www/html/be-latte/src/realisticshots-coffee-photo.png');
}


.wrapper-wg {
  width: 100%;
  padding: 15px;
}

.facebook-wg {
  height: fit-content;
}

@media screen and (max-width: 767px) {
    .navbar .right {
        padding-left: 0;
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 100px;
        background-color: rgba(0, 0, 0, 0.35);
    }
    .logo {
        left: 15px;
        transform: none;
    }

    .logo-img {
        width: 105px;
        height: 82px;
    }

    .left, .right {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .adress {
        padding: 0 25px;
    }
}
