/*Fonts*/
.Playfair{
    font-family: 'Playfair Display', serif;
}
.Lato{
    font-family: 'Lato', sans-serif;
}
.location {
    align-self: center;
    border: 1px solid black;
    width: 167px;
    height: 24px;
    font-family: playfairdisplay;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 60px;
}
.houston-city {
    border: 1px solid black;
    width: 100%;
    height: 425px;
    object-fit: contain;
}
.hours-bg {
    border: 1px solid black;
    width: 100%;
    height: 425px;
    background-color: #f5d76e;
}
#hours-and-map .col-4 {
    padding-right: 0px;
}
#hours-and-map .col-8 {
    padding-left: 0px;
}

/*text_under_banner*/
.under_banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 98px;
    margin-bottom: 200px;
}
.under_banner_header{
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: 0.8px;
    text-align: left;
    color: #2f2f2f;
    margin-bottom: 32px;
    font-weight: 700;
}
.under_banner_header>b{
    font-weight: 900;    
}
.under_banner>p{
    width: 755px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}
.cover {
    margin:auto;
    width:100%;
    max-width:1920px;
}
.icon-coffee {
    width:39px;
    height:39px;
    margin:80px auto;
}
.button-see-full-menu-block {
    width:234px;
    height:60px;
    color: #000000;
    background: rgba(0,0,0,0);
    border: solid 2px #000000;
    font-weight: 900;
    text-transform:uppercase;
    text-align:center;
}
.button-see-full-menu-block-min {
    width:234px;
    margin:auto;
}
.menu-text {
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    text-transform:uppercase;
    text-align:center;
    margin-top:60px;
    margin-bottom:60px;
}
.text-coffee {
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    text-transform:uppercase;
    text-align:center;
    margin-top:60px;
}
.text-block { 
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #28211f;
}
.menu-top-coffe {
    background-image: url(../src/menu/cup-of-coffee.png);
    background-size:cover;
}
.menu-top-tea {
    background-image: url(../src/menu/tea-realisticshots.png);
    background-size:cover;
}
.menu-top-dessert {
    background-image: url(../src/menu/dessert.png);
    background-size:cover;
}